@import 'partials/normalize';
@import 'partials/colors';


// ------- GENERAL


body {
	font-size: 16px;
	line-height: 1.618;
	color: $primary-text-color;
}
p,span {
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato', sans-serif;
}
img {
	max-width: 100%;
}
#map { 
	width: 70%;
	height: 100%;
}

.wrapper {
	width: 95%;
	max-width: 1440px;
	margin: 0 auto;
}

input {
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.2);
	font-weight: 300;
}







.btn {
	padding: 12px 18px;
	border-radius: 5px;
	text-transform: uppercase;
	background: red;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
	transition: all 0.5s;
	border: none;
	font-weight: 300;
	&.btn-dark {
		background: $accent-color;
		color: white;
	}
	&.btn-light {
		background: rgba(255,255,255,0.5);
		color: black;
		&:hover {
			background: yellow;
		}
	}
}

// ------- HEADER

header {
	background-color: $primary-color;
	height: 90px;
	position: fixed;
	width: 100%;
	transition: height 0.4s ease-out;
}
.header-wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: unset;
	height: 100%;
	width: 100%;
	justify-content: space-between;
}

.thelogo {
	color: white;
	fill: white;
	width: 40px;
	height: 40px;
}
.logo-image {
	background: $primary-color-dark;
	width: 80px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-section {
	display: flex;
	align-items: center;
	h1.logo-name {
		font-size: 20px;
		color: white;
		margin: 0 20px;
	}
}

nav.nav {
	display: flex;
	// width: calc(50% + 250px);
}

ul.navbar {
	display: flex;
	align-items: center;
	margin-right: 15px;
	a {
		color: white;
		padding: 8px 15px;
	}
}

.login-section {
	display: flex;
	padding: 0 15px;
	align-items: center;
	.btn {
		font-size: 12px;
	}
}

//---- HERO

.hero {
	height: 90vh;
	background-image: url('../../assets/aaron-huber-401200.jpg');
	background-size: cover;
	min-height: 450px;
	.hero-wrapper {
		height: 100%;
		width: 95%;
		max-width: 1080px;
		margin: 0 auto;
		position: relative;
	}
}

.content-area {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	margin: 0 auto;
}

.hero-copy h1 {
	font-size: 46px;
}

form.home-search {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: white;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.12);
	border: 10px solid white;
	border-radius: 5px;
	// width: calc(100% - 150px);
	margin: 0 auto;
	input {
		border: none;
		background-color: transparent;
		width: 100%;
		height: 100%;
		outline: none;
		&#address, &#radius {
			padding: 0 35px;
		}
	}
	.search-container {
		height: 44px;
		border-right: 1px solid grey;
		position: relative;
		i {
			position: absolute;
			left: 13px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.radius-container {
		width: 30%;
		border-right: 0;
	}

	.address-container {
		width: 70%;
	}

	#gotime {
		width: 150px;
	}
}



// ------ MAIN

body.searched {
	
	header {
		height: 40px;
		z-index: 999;
		.thelogo {
			width: 30px;
			height: 30px;
		}
	}

	.portal-header {
		width: 500px;
		position: absolute;
		top: 50px;
		left: 50px;
		z-index: 9999999;
		form.home-search {
			background: transparent;
			border: none;
			input#address, 
			input#radius {
				background: white;
				padding: 0;
				padding-left: 28px;
			}
			.search-container {
				margin-right: 10px;
				border: none;
			}
		}
	}

}



#mapSection {
	padding-top: 90px;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
}

.secondary-navbar {
	position: fixed;
	top: 40px;
	background: white;
	z-index: 99999;
	border: 1px solid black;
	width: 100%;
	.inside-navbar {
		position: relative;
		align-items: center;
		justify-content: flex-start;
		display: flex;
		width: 100%;
		height: 50px;
	}
	.secondary-menu {
		width: 80px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $primary-color-light;
		transition: all 0.5s ease-out; 
		.fa {
			font-size: 30px;
			color: $primary-color;
		}
	}
}

.secondary-menu form {
	display: flex;
	position: absolute;
	left: -500px;
	transition: all 0.5s ease-out; 
}
.secondary-menu.secondary-search-open {
	margin-right: 460px;
	form {
		left: 100px;
	}
}

.city-details {
	display: flex;
	margin: 0 20px;
	h3 {
		color: $primary-color;
	}
}


.results {
	width: 30%;
	min-width: 300px;
	padding: 20px; 
	position: relative;
	height: 100%;
	.title {
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		h2 {
			color: $primary-color-dark;
		}
		p {
			color: $primary-color;
			font-size: 12px;
		}
	}
}

.result-area {
	overflow-y: scroll;
	height: calc(100% - 63px)
}

.result-card {
	border: 1px solid $primary-color;
	margin-bottom: 17px;
	& > ul.listings-dropdown {
		display: none;
		// padding-left: 20px;
	}
}

.result-card.open {
	border: none;
	.result-card-description {
		background: $primary-color;
		color: white;
	}
}

.result-card-description {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	img {
		width: 20px;
		height: 20px;
	}
}

.result-tile {
	border-bottom: 1px solid $primary-color;
	padding: 10px 0 10px 20px;
	border-left: 4px solid white;
	&:hover {
		background: rgba(0,0,0,0.05);
		border-left: 4px solid $primary-color;
	}
	h3 {
		font-size: 18px;
		font-weight: bold;
		color: $primary-color-dark;
	}
}

.result-detail {
	display: flex;
	padding: 5px 0;
}

.result-image {
	width: 125px;
	height: 100px;
	img {
		width: 100%;
		height: 100%;
	}
}

.result-description {
	display: flex;
	flex-direction: column;
	width: calc(100% - 125px);
	padding-left: 10px;
	justify-content: flex-start;
	h5 {
		font-weight: normal;
		.fa {
			margin-right: 4px;
			color: $secondary-text-color;
			opacity: 0.7;
		}
	}
}

.rating-div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 5px;
	width: 100px;
	i,span {
		font-size: 12px;
		color: $primary-color;
	}
}

.fa-star-o {
	opacity: 0.3;
}


















// // ------- MAIN



// // ------- HERO + FORM

// section.hero {
// 	background-image: url('../../assets/OldPaperBW.jpg');
// 	background-size: cover;
// 	height: calc(100vh - 90px);
// 	min-height: 420px;
// 	width: 100%;
// }

// .hero-wrapper {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	height: 100%;
// }



// .content-area {
// 	margin: 0 auto;
// 	transform: translateY(-20%);
// }

// .form-area {
// 	background: white;
// 	padding: 30px 20px;
// 	border-radius: 5px;
// 	box-shadow: -2px 4px 12px -2px rgba(0,0,0,0.3);
// }

// form.home-search {
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	input {
// 		width: 100%;
// 	}
// 	.address-container,
// 	.radius-container {
// 		width: 250px;
// 		margin-right: 15px;
// 		position: relative;
// 		input {
// 			padding: 6px 20px;
// 		}
// 		.fa {
// 			position: absolute;
// 			left: 8px;
// 			top: 50%;
// 			font-size: 12px;
// 			transform: translateY(-50%)
// 		}
		
// 	}
// 	input {
// 		padding: 6px 15px;
// 	}
// }

// .location {
// 	padding: 15px 20px 5px;
// 	h2 {
// 		color: white;
// 		font-weight: 300;
// 		font-size: 30px;
// 	}
// }

// // ------------  HERO TRANSFORMATIONS ON SEARCH
// body.searched section.hero {
// 	background: unset;
// 	height: unset;
// 	min-height: unset;
// }

// body.searched .location {
// 	display: none;
// }

// body.searched .hero-wrapper {
// 	align-items: flex-start;
// }

// body.searched .content-area {
// 	transform: none;
// 	width: 100%;
// 	background: rgba($primary-color-light, 0.8);
// 	z-index: 999;
// }
// body.searched .form-area {
// 	padding: 15px 20px;
// 	padding-left: 90px;
// 	max-width: 600px;
// 	box-shadow: none;
// 	background: transparent;
// }



// // ------------ MAP SECTION

// section#mapSection {
// 	margin-top: -66px;
// }




// // ------------- MAP SIDE BAR

// .results-bar {
// 	position: fixed;
// 	display: flex;
// 	height: calc(100vh);
// 	width: 80px;
// 	z-index: 998;
// 	top: 0;
// 	padding-top: 66px;
// }



// .results-nav, .results-details {
// 	display: flex;
// 	flex-direction: column;
// 	align-content: center;
// 	justify-content: flex-start;
// 	padding-top: 20px;
// 	z-index: 1003;
// 	background: $primary-color-dark;
// 	width: 80px;
// 	transition: width ease-out .3s;
// 	li a {
// 		display: block;
// 		text-align: center;
// 		padding: 10px;
// 	}
// }

// .results-icon {
// 	width: 46px;
// 	height: 46px;
// 	fill: blue;
// }

// .listings-nav {
// 	position: absolute;
// 	top: 0;
// 	visibility: hidden;
// 	opacity: 0;
// 	height: 100vh;
// 	width: 320px;
// 	padding: 8px;
// 	right: 0;
// 	transition: left ease-out 4s;
// 	h3 {
// 		margin: 6px 0 12px;
// 		img {
// 			width: 20px;
// 		}
// 	}
// }

// .listings-nav.active {
// 	opacity: 1;
// 	visibility: visible;
// }

// .results-details {
// 	width: 360px;
//     height: 100vh;
//     background: white;
//     overflow-y: scroll;
//     z-index: 90;
//     transition: unset;
//     left: -320px;
//     position: absolute;
//     transition: left ease-out 0.4s;
// }

// .results-bar.opened .results-details {
// 	left: 80px;
// }

// a.hover-link.selected  {
// 	background: rgba(0,0,0,0.5);
// }
// // .results-nav:hover {
// // 	width: 400px;
// // 	.listings-nav {
// // 		visibility: visible;
// // 	}
// // 	a.hover-link .rolled-over {
// // 		width: 60px;
// // 	}
// // }





// //RESULT CARD

// li.result-tile {
// 	margin-bottom: 15px;
// 	box-shadow: 0 0 3px 1px $divider-color;
// 	h3,h4,p {
// 		text-align: left;
// 		margin: 0;
// 	}
// 	.open-label {
// 		color: green;
// 	}
// }

// li.result-tile > a {
// 	position: relative;
// 	display: block;
// 	padding: 0;
// }

// li.result-tile img {
// 	width: 100%;
// 	max-height: 200px;
// 	object-fit: cover;
// }

// li.result-tile .description {
// 	position: absolute;
// 	bottom: 20px;
// 	left: 20px;
// 	color: white;
// 	z-index: 999;
// }

// .additional-info {
// 	display: flex;
// 	justify-content: space-between;
// 	padding: 4px 20px;
// }

// .theoverlay {
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	height: 100%;
// 	width: 100%;
// 	opacity: 0.7;
// 	background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,1) 100%);;
// }

// .result-background-image {
// 	position: relative;
//     max-height: 200px;
//     overflow: hidden;
// }






// nav {
// 	background: white;

// }

// .nav-wrapper {
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	height: 90px;
// 	width: 95%;
// 	max-width: 1440px;
// 	margin: 0 auto;
// }

// .nav {
// 	display: flex;
// 	width: 100%;
// 	justify-content: space-around;
// 	li {
// 		a {
// 			padding: 15px;
// 			text-transform: uppercase;
// 			color: black;
// 		}
// 	}
// }

// .hero {
// 	height: calc(80vh - 90px);
// 	min-height: 500px;
// 	background-image: url('../../assets/hero.jpg');
// 	background-size: cover;
// 	background-position: center;
// 	display: flex;
// 	justify-content: center;
// 	align-content: center;

// }
// .searched {
// 	height: 120px;
// 	min-height: 120px;
// 	transition: height 1s;
// }
// .main-copy-searched {
// 	display: none;
// }
// .hero-content {
// 	display: inline-flex;
// 	justify-content: center;
// 	flex-direction: column;
// }


// .about-wrapper {
// 	width: 90%;
// 	max-width: 1440px;
// 	margin: 0 auto;
// }
// .feature-image {
// 	width: 200px;
// }
// .contents {
// 	display: flex;
// }

// #mapSection {
// 	background: #e8e8e8;
// }


// .resultsContainer {
// 	display: flex;
// }
// #map {
// 	width: 40%;
// 	height: calc(100vh - 100px;);
// }

// .area {
// 	width: 60%;
// 	background: white;
// }




// .feat-listing {
// 	border: 1px solid black;
// 	img {
// 		width: 200px;
// 	}
// }


// .dropdown ul {
// 	display: none;
// }

// #transitMap {
// 	height: 500px;
// 	width: 500px;
// }