@import 'partials/normalize';
@import 'partials/colors';


// ------- GENERAL


body {
	font-size: 16px;
	line-height: 1.618;
	color: $primary-text-color;
}
p,span {
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato', sans-serif;
}
img {
	max-width: 100%;
}
#map { 
	width: 70%;
	height: 100%;
}

.wrapper {
	width: 95%;
	max-width: 1440px;
	margin: 0 auto;
}

input {
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.2);
	font-weight: 300;
}

body {
	overflow-x: hidden; 
}







.btn {
	padding: 12px 18px;
	border-radius: 5px;
	text-transform: uppercase;
	background: red;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
	transition: all 0.5s;
	border: none;
	font-weight: 300;
	&.btn-dark {
		background: $accent-color;
		color: white;
	}
	&.btn-light {
		background: rgba(255,255,255,0.5);
		color: black;
		&:hover {
			background: yellow;
		}
	}
}

// ------- HEADER

header {
	background-color: $primary-color;
	height: 90px;
	top: 0;
	position: fixed;
	width: 100%;
	transition: height 0.4s ease-out;
}
.header-wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: unset;
	height: 100%;
	width: 100%;
	justify-content: space-between;
}

.thelogo {
	color: white;
	fill: white;
	width: 40px;
	height: 40px;
}
.logo-image {
	background: $primary-color-dark;
	width: 80px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-section {
	display: flex;
	align-items: center;
	h1.logo-name {
		font-size: 20px;
		color: white;
		margin: 0 20px;
	}
}

nav.nav {
	display: flex;
	// width: calc(50% + 250px);
}

ul.navbar {
	display: flex;
	align-items: center;
	margin-right: 15px;
	a {
		color: white;
		padding: 8px 15px;
	}
}

.login-section {
	display: flex;
	padding: 0 15px;
	align-items: center;
	.btn {
		font-size: 12px;
	}
}

//---- HERO

.hero {
	height: 90vh;
	background-image: url('../../assets/aaron-huber-401200.jpg');
	background-size: cover;
	min-height: 450px;
	.hero-wrapper {
		height: 100%;
		width: 95%;
		max-width: 1080px;
		margin: 0 auto;
		position: relative;
	}
}

.content-area {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	margin: 0 auto;
}

.hero-copy h1 {
	font-size: 46px;
}

form.home-search {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: white;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.12);
	border: 10px solid white;
	border-radius: 5px;
	// width: calc(100% - 150px);
	margin: 0 auto;
	input {
		border: none;
		background-color: transparent;
		width: 100%;
		height: 100%;
		outline: none;
		&#address, &#radius {
			padding: 0 35px;
		}
	}
	.search-container {
		height: 44px;
		border-right: 1px solid grey;
		position: relative;
		i {
			position: absolute;
			left: 13px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.radius-container {
		width: 30%;
		border-right: 0;
		padding-left: 35px;
		display: flex;
		select {
			width: 90%;
		}
	}

	.address-container {
		width: 70%;
	}

	#gotime {
		width: 150px;
	}
}



// ------ MAIN

body.searched {
	
	header {
		height: 40px;
		z-index: 999;
		.thelogo {
			width: 30px;
			height: 30px;
		}
	}

	.portal-header {
		width: 500px;
		position: absolute;
		top: 50px;
		left: 50px;
		z-index: 9999999;
		form.home-search {
			background: transparent;
			border: none;
			input#address, 
			input#radius {
				background: white;
				padding: 0;
				padding-left: 28px;
			}
			.search-container {
				margin-right: 10px;
				border: none;
			}
		}
	}

}



#mapSection {
	// padding-top: 90px;
	margin-top: 90px;
	display: flex;
	// flex-wrap: wrap;
	height: calc(100vh - 90px);
}

.secondary-navbar {
	display: none;
	position: fixed;
	top: 40px;
	background: white;
	z-index: 99999;
	box-shadow: 0 1px 8px rgba(0,0,0,0.25);
	width: 100%;
	.inside-navbar {
		position: relative;
		align-items: center;
		justify-content: flex-start;
		display: flex;
		width: 100%;
		height: 50px;
	}
	.secondary-menu {
		width: 80px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $primary-color-light;
		transition: all 0.5s ease-out; 
		.fa {
			font-size: 30px;
			color: $primary-color;
		}
	}
}

.secondary-menu form {
	& > div {
		border-bottom: 2px solid $primary-color;
		margin-right: 20px;
		display: flex;
		align-items: center;
	}
	.btn {
		font-size: 12px;
		padding: 6px 12px;
	}
	.fa {
		font-size: 20px!important;
	}
	#address, #radius {
		border: none;
		padding: 6px 12px;
		font-weight: 300;
		font-family: 'Open Sans';
	}
}

body.searched .secondary-navbar {
	display: block;
}

.secondary-menu form {
	display: flex;
	position: absolute;
	left: -500px;
	transition: all 0.5s ease-out; 
}
.secondary-menu.secondary-search-open {
	margin-right: 460px;
	form {
		left: 100px;
	}
}

.city-details {
	display: flex;
	margin: 0 20px;
	h3 {
		color: $primary-color;
	}
}


.results,
.place {
	width: 30%;
	min-width: 300px;
	padding: 20px; 
	position: relative;
	height: 100%;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
	.title {
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		h2 {
			color: $primary-color-dark;
		}
		p {
			color: $primary-color;
			font-size: 12px;
		}
	}
}



body.place-details-active .place {
	display: block;
	right: 0;
}

.result-area {
	overflow-y: scroll;
	height: calc(100% - 63px)
}

.result-card {
	border: 1px solid $primary-color;
	margin-bottom: 17px;
	& > ul.listings-dropdown {
		display: none;
		// padding-left: 20px;
	}
}

.result-card.open {
	border: none;
	.result-card-description {
		background: $primary-color;
		color: white;
	}
}

.result-card:hover .result-card-description {
	background: $primary-color;
	color: white;
}

.result-card-description {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	img {
		width: 20px;
		height: 20px;
	}
}

.result-tile {
	border-bottom: 1px solid $primary-color;
	padding: 10px 0 10px 20px;
	border-left: 4px solid white;
	&:hover {
		background: rgba(0,0,0,0.05);
		border-left: 4px solid $primary-color;
	}
	h3 {
		font-size: 18px;
		font-weight: bold;
		color: $primary-color-dark;
	}
}
.result-tile.mapClickedPlace {
	background: rgba($primary-color-light, 0.5);
    border-left: 4px solid $accent-color;
}

.result-detail {
	display: flex;
	padding: 5px 0;
}

.result-image {
	width: 125px;
	height: 100px;
	img {
		width: 100%;
		height: 100%;
	}
}

.result-description {
	display: flex;
	flex-direction: column;
	width: calc(100% - 125px);
	padding-left: 10px;
	justify-content: flex-start;
	h5 {
		font-weight: normal;
		.fa {
			margin-right: 4px;
			color: $secondary-text-color;
			opacity: 0.7;
		}
	}
}

.rating-div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 5px;
	width: 100px;
	i,span {
		font-size: 12px;
		color: $primary-color;
	}
}

.fa-star-o {
	opacity: 0.3;
}


.place {
	padding: 0;
	background: white;
	right: -30%;
	height: 0;
	position: absolute;
	transition: all 0.4s ease-out;
	overflow-y: scroll;
	height: calc(100vh - 90px);
	p {
		margin: 0;
	}
}

.placeText {
	padding: 0 20px;
}

.place-image {
	height: 250px;
	width: 100%;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.place-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $primary-color-light;
	padding: 16px 24px 20px;
	h3 {
		font-size: 18px;
	}
	.place-stars-rating {
		margin-bottom: 4px;
		span {
			margin-right: 6px;
		}
	}
}

.pd-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.place-directions {
	background: $accent-color;
	border: none;
	color: white;
	padding: 8px 12px;
}

.place-category {
	color: $accent-color;
	border: 1px solid $accent-color;
	display: inline-block;
	padding: 1px 2px;
	border-radius: 5px;
	font-size: 12px;
}

.place-list {
	a {
		width: calc(100% - 30px);
	    word-wrap: break-word;
	}
}




.place-list {
	display: flex;
	justify-content: flex-start;
}

.list-icon {
	display: inline-block;
	width: 30px;
	.fa {
		font-size: 12px;
		color: $primary-color;
	}
}

.carousel-cell {
	display: block;
	height: 150px;
	object-fit: contain;
	margin: 0 5px;
}

.place-open-list {
	display: none;
}

.place-latest-reviews {
	margin-top: 30px;
}

.user-review {
	display: flex;
	align-items: flex-start;
}

.user-image {
	width: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.user-comment {
	padding: 0 20px 20px;
	width: calc(100% - 50px);
	& > span {
		color: $secondary-text-color;
		opacity: 0.6;
		font-size: 10px;
	}
}

.user-rating {
	span {
		display: none;
	}
	.fa {
		font-size: 10px;
	}
}

.authModal {
	background: rgba(0,0,0,0.8);
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	color: white;
	form {
		margin-bottom: 30px;
	}
}

.loginModalShowing .authModal {
	display: flex;
	z-index: 999999;
}

.logged-in-status {
	display: none;
}

body.loggedIn .logged-in-status {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

body.loggedIn .login-btn {
	display: none;
}

.dropdown-userFavs {
	display: none;
}

body.userFavsActive .dropdown-userFavs {
	display: block;
}
body.userFavsActive .results {
	display: none;
}