article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5 {
  margin: 0; }

body {
  font-size: 16px;
  line-height: 1.413;
  color: #212121;
  background-color: #fafafa; }

p, span, a, li, ol, ul {
  font-family: 'Open Sans', sans-serif;
  color: #1f1f1f; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif; }

img {
  max-width: 100%; }

#map {
  width: 70%;
  height: 100%; }

.wrapper {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto; }

input {
  font-weight: 300; }

body {
  overflow-x: hidden; }

main {
  margin-top: 50px; }

header {
  background-color: #fafafa;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  height: 50px;
  top: 0;
  position: fixed;
  width: 100%;
  transition: height 0.4s ease-out; }

.header-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: unset;
  height: 100%;
  width: 100%;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.thelogo {
  color: white;
  fill: white;
  width: 25px; }

.logo-image {
  background: #4611a7;
  width: 60px;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.logo-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo-section h1.logo-name {
    font-size: 20px;
    color: #1f1f1f;
    margin: 0 18px;
    text-transform: uppercase;
    font-weight: 100; }

nav.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

ul.navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px; }
  ul.navbar li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    ul.navbar li:hover {
      background: #4611a7; }
      ul.navbar li:hover a {
        color: white; }
  ul.navbar a {
    padding: 3px 12px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600; }
  ul.navbar li:nth-of-type(2) a {
    border-right: 1px solid rgba(31, 31, 31, 0.2); }

li.signup-btn.register:hover {
  background: none; }

body ul.navbar .signup-btn a {
  background-color: #4611a7;
  border-radius: 16px;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  padding-left: 10px; }
  body ul.navbar .signup-btn a .fa {
    margin-right: 6px;
    font-size: 10px; }

body.notLoggedIn #userSignOut,
body.notLoggedIn #userSignOut {
  display: none; }

body.loggedIn #userSignOut {
  display: block; }

.hero {
  height: 70vh;
  background-image: url("../../assets/blake-wheeler-233622.jpg");
  background-size: cover;
  min-height: 550px;
  position: relative; }
  .hero .hero-wrapper {
    height: 100%;
    width: 95%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    z-index: 100; }

section.hero:after {
  content: '';
  display: table;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(31, 31, 31, 0.7);
  height: 100%;
  z-index: 10; }

.content-area {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  margin: 0 auto;
  color: white; }
  .content-area h2 {
    font-weight: 200;
    font-size: 16px;
    margin-left: 2px; }

.hero-copy h1 {
  font-size: 46px;
  font-weight: 400; }

form.home-search {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: rgba(70, 17, 167, 0.6);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
  padding: 20px;
  margin: 0 auto; }
  form.home-search input {
    border: none;
    background-color: white;
    width: 100%;
    height: 100%;
    outline: none; }
  form.home-search .search-container {
    height: 50px;
    border-right: 1px solid grey;
    position: relative; }
    form.home-search .search-container img {
      width: 30px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 13px; }
  form.home-search .radius-container {
    width: 30%;
    border-right: 0;
    margin-left: 35px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 280px; }
    form.home-search .radius-container .dropdown-toggle {
      padding-left: 55px;
      width: 100%; }
      form.home-search .radius-container .dropdown-toggle span {
        opacity: 0.7; }
      form.home-search .radius-container .dropdown-toggle .fa {
        opacity: 0.7;
        font-size: 10px;
        color: #1f1f1f;
        margin: 0 10px; }
  form.home-search .address-container {
    width: 70%; }
    form.home-search .address-container input {
      padding-left: 55px; }

#gotime {
  width: 90px;
  height: 50px;
  background-color: #4611a7;
  border-radius: 0;
  position: relative;
  padding: 0;
  color: white;
  margin-left: 35px; }

.submit-container {
  width: 60px;
  height: 60px;
  background-color: #4611a7;
  position: relative;
  margin-left: 35px; }
  .submit-container img {
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

body.searched header {
  height: 50px;
  z-index: 999; }
  body.searched header .thelogo {
    width: 30px;
    height: 30px; }

body.searched .portal-header {
  width: 500px;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 9999999; }
  body.searched .portal-header form.home-search {
    background: transparent;
    border: none; }
    body.searched .portal-header form.home-search input#address,
    body.searched .portal-header form.home-search input#radius {
      background: white;
      padding: 0;
      padding-left: 28px; }
    body.searched .portal-header form.home-search .search-container {
      margin-right: 10px;
      border: none; }

#mapSection {
  margin-top: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 40px); }

body.searched #mapSection {
  overflow: unset; }

.secondary-navbar {
  display: none;
  position: fixed;
  top: 40px;
  background: white;
  z-index: 99999;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  width: 100%; }
  .secondary-navbar .inside-navbar {
    position: relative;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50px; }
  .secondary-navbar .secondary-menu {
    width: 80px;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #CFD8DC;
    transition: all 0.5s ease-out; }
    .secondary-navbar .secondary-menu .fa {
      font-size: 30px;
      color: #607D8B; }

.secondary-menu form > div {
  border-bottom: 2px solid #607D8B;
  margin-right: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.secondary-menu form .btn {
  font-size: 12px;
  padding: 6px 12px; }

.secondary-menu form .fa {
  font-size: 20px !important; }

.secondary-menu form #address, .secondary-menu form #radius {
  border: none;
  padding: 6px 12px;
  font-weight: 300;
  font-family: 'Open Sans'; }

body.searched .secondary-navbar {
  display: block; }

.secondary-menu form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -500px;
  transition: all 0.5s ease-out; }

.secondary-menu.secondary-search-open {
  margin-right: 460px; }
  .secondary-menu.secondary-search-open form {
    left: 100px; }

.city-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px; }
  .city-details h3 {
    color: #607D8B; }

.results,
.place,
.dropdown-userFavs {
  width: 30%;
  min-width: 300px;
  padding: 20px;
  position: relative;
  height: 100%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25); }
  .results .title,
  .place .title,
  .dropdown-userFavs .title {
    margin-bottom: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
    .results .title h2,
    .place .title h2,
    .dropdown-userFavs .title h2 {
      color: #4611a7;
      font-weight: 300;
      font-size: 34px; }
    .results .title p,
    .place .title p,
    .dropdown-userFavs .title p {
      color: #4611a7;
      font-size: 12px; }

.results-top-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  .results-top-bar p {
    margin: 0;
    font-size: 12px; }
  .results-top-bar .fa {
    color: #4611a7;
    font-size: 12px; }
  .results-top-bar .avg-area-rating {
    margin-left: 4px; }

body.place-details-active .place {
  display: block;
  right: 0; }

.result-area {
  overflow-y: auto;
  height: calc(100% - 63px); }

.result-card {
  border: 2px solid #4611a7;
  margin-bottom: 20px; }
  .result-card h5 {
    font-size: 14px;
    font-weight: 500; }
  .result-card > ul.listings-dropdown {
    display: none; }

.result-card.open {
  border: none; }
  .result-card.open .result-card-description {
    background: #4611a7;
    color: white; }

.result-card:hover .result-card-description {
  background: #4611a7;
  color: white; }

.result-card-description {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px; }
  .result-card-description img {
    width: 20px;
    height: 20px; }

.result-tile {
  border-bottom: 1px solid #607D8B;
  padding: 10px 0 10px 20px;
  border-left: 4px solid #fafafa; }
  .result-tile:hover {
    background: rgba(0, 0, 0, 0.05);
    border-left: 4px solid #4611a7; }
  .result-tile h3 {
    font-size: 18px;
    font-weight: 500;
    color: #4611a7; }

.result-tile.mapClickedPlace {
  background: rgba(207, 216, 220, 0.5);
  border-left: 4px solid #4611a7; }

.result-detail {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0; }

.result-image {
  width: 125px;
  height: 100px; }
  .result-image img {
    width: 100%;
    height: 100%; }

.result-description {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 125px);
  padding-left: 10px;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .result-description h5 {
    font-weight: normal; }
    .result-description h5 .fa {
      margin-right: 4px;
      color: #757575;
      opacity: 0.7; }

.rating-div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  width: 100px; }
  .rating-div i, .rating-div span {
    font-size: 12px;
    color: #4611a7; }

.types {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .types p {
    margin-right: 10px;
    border: 1px solid grey;
    padding: 0px 3px;
    font-size: 10px;
    opacity: 0.6;
    text-transform: capitalize; }

.addToFavs {
  font-size: 12px;
  color: #4611a7;
  cursor: pointer; }

.fa-star-o {
  opacity: 0.3; }

.place-wrapper {
  padding: 15px 20px; }

.place,
.dropdown-userFavs {
  padding: 0;
  background: white;
  right: -30%;
  height: 0;
  position: absolute;
  transition: all 0.4s ease-out;
  overflow-y: scroll;
  height: 100%; }
  .place p,
  .dropdown-userFavs p {
    margin: 0; }

.place-top-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.place-toggle-slide,
.place-add-to-favs {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #CFD8DC;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.placeText {
  padding: 0 20px; }

.place-image {
  height: 250px;
  width: 100%; }
  .place-image img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.place-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #CFD8DC;
  padding: 16px 24px 20px; }
  .place-details h3 {
    font-size: 18px; }
  .place-details .place-stars-rating {
    margin-bottom: 4px; }
    .place-details .place-stars-rating span {
      margin-right: 6px; }

.pd-left {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.place-directions {
  background: #4611a7;
  border: none;
  color: white;
  padding: 8px 12px; }

.place-category {
  color: #4611a7;
  border: 1px solid #4611a7;
  display: inline-block;
  padding: 1px 2px;
  border-radius: 5px;
  font-size: 12px; }

.place-list a {
  width: calc(100% - 30px);
  word-wrap: break-word; }

.place-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.list-icon {
  display: inline-block;
  width: 30px; }
  .list-icon .fa {
    font-size: 12px;
    color: #607D8B; }

.carousel-cell {
  display: block;
  height: 150px;
  object-fit: contain;
  margin: 0 5px; }

.place-open-list {
  display: none; }

.place-latest-reviews {
  margin-top: 30px; }

.user-review {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.user-image {
  width: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.user-comment {
  padding: 0 20px 20px;
  width: calc(100% - 50px); }
  .user-comment > span {
    color: #757575;
    opacity: 0.6;
    font-size: 10px; }

.user-rating span {
  display: none; }

.user-rating .fa {
  font-size: 10px; }

.authModal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: none;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  color: white; }
  .authModal form {
    margin-bottom: 30px; }

.loginModalShowing .authModal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 999999; }

.logged-in-status {
  display: none; }

body.loggedIn .logged-in-status {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

body.loggedIn .login-btn {
  display: none; }

.dropdown-userFavs {
  background: red; }

body.userFavsActive .dropdown-userFavs {
  right: 0; }
