article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5 {
  margin: 0; }

body {
  font-family: 'Nunito Sans', cursive;
  font-size: 16px;
  line-height: 1.618;
  color: #212121; }

img {
  max-width: 100%; }

#map {
  width: 500px;
  height: 500px; }

.wrapper {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto; }

input {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 300; }

header {
  background-color: #607D8B;
  height: 90px; }

.header-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: unset;
  height: 100%;
  width: 100%;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.thelogo {
  color: white;
  fill: white;
  width: 40px;
  height: 40px; }

.logo-image {
  background: #455A64;
  width: 80px;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.logo-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo-section h1.logo-name {
    font-size: 20px;
    color: white;
    margin: 0 20px; }

nav.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

ul.navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px; }
  ul.navbar a {
    color: white;
    padding: 8px 15px; }

.login-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .login-section .btn {
    font-size: 12px; }

.btn {
  padding: 12px 18px;
  border-radius: 5px;
  text-transform: uppercase;
  background: red;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  border: none;
  font-weight: 300; }
  .btn.btn-dark {
    background: #FF9800;
    color: white; }
  .btn.btn-light {
    background: rgba(255, 255, 255, 0.5);
    color: black; }
    .btn.btn-light:hover {
      background: yellow; }

section.hero {
  background-image: url("../../assets/38.jpg");
  background-size: cover;
  height: calc(100vh - 90px);
  width: 100%; }

.hero-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.content-area {
  margin: 0 auto;
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%); }

.form-area {
  background: white;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: -2px 4px 12px -2px rgba(0, 0, 0, 0.3); }

form.home-search {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  form.home-search input {
    width: 100%; }
  form.home-search .address-container,
  form.home-search .radius-container {
    width: 250px;
    margin-right: 15px;
    position: relative; }
    form.home-search .address-container .fa,
    form.home-search .radius-container .fa {
      position: absolute;
      left: 4px;
      top: 50%;
      font-size: 12px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
  form.home-search input {
    padding: 6px 15px; }

.location {
  padding: 15px 20px; }
  .location h2 {
    color: white;
    font-weight: 300;
    font-size: 30px; }
